<div
  class="aspect-video max-h-[384px] w-full overflow-hidden text-justify text-[min(7.5vw,63px)] leading-none font-black break-all text-stone-200 dark:text-stone-800"
>
  {"NAND IS MORE THAN JUST ".repeat(2)}
  <span class="text-black lg:text-inherit dark:text-white lg:dark:text-inherit">
    NAND IS MORE THAN JUST NAND{" "}
  </span>
  <span class="lg:text-black lg:dark:text-white">
    <span class="hidden lg:inline">NAND</span> IS MORE THAN JUST NAND
  </span>{" "}
  IS MORE THAN JUST NAND {"NAND IS MORE THAN JUST ".repeat(20)} NAND
</div>
